name: Quality

on:
  workflow_call:
    inputs:
      package_manager:
        type: string
        default: "auto"
      perform_linting:
        type: string
        default: "yes"
      perform_testing:
        type: string
        default: "yes"

jobs:
  ConfigureWorkflow:
    runs-on: ubuntu-latest
    permissions: {}
    outputs:
      perform_linting: ${{ steps.cfg_main.outputs.perform_linting }}
      perform_testing: ${{ steps.cfg_main.outputs.perform_testing }}
      package_manager: ${{ steps.cfg_pm.outputs.package_manager }}
      pm_install_cmd: ${{ steps.cfg_pm.outputs.pm_install_cmd }}
      pm_version: ${{ steps.cfg_pm.outputs.pm_version }}
      node_version: ${{ steps.cfg_node.outputs.node_version }}

    steps:
      - name: Configure Main
        id: cfg_main
        run: |
          echo "perform_linting=${{ inputs.perform_linting }}" >> "$GITHUB_OUTPUT"
          echo "perform_testing=${{ inputs.perform_testing }}" >> "$GITHUB_OUTPUT"
          echo "pm_default=npm" >> "$GITHUB_OUTPUT"

      - name: Check out repository
        uses: actions/checkout@v6

      - name: Configure Package Manager
        id: cfg_pm
        run: |
          set -euo pipefail

          PM_DEFAULT="npm"
          PACKAGE_MANAGER="${{ inputs.package_manager }}"
          PM_VERSION=""

          if [[ "$PACKAGE_MANAGER" = "auto" ]]; then
            PM=$(jq -r .packageManager package.json)

            if [[ ! "$PM" ]]; then
              PACKAGE_MANAGER="$PM_DEFAULT"
            elif [[ "$PM" =~ ^(pnpm)@([[:digit:]]+.[[:digit:]]+.[[:digit:]]+)$ ]]; then
              PACKAGE_MANAGER="${BASH_REMATCH[1]}"
              PM_VERSION="${BASH_REMATCH[2]}"
            else
              PACKAGE_MANAGER="$PM_DEFAULT"
            fi
          fi

          echo "package_manager=${PACKAGE_MANAGER}" >> "$GITHUB_OUTPUT"
          echo "pm_version=${PM_VERSION}" >> "$GITHUB_OUTPUT"

          if [[ "$PACKAGE_MANAGER" = "pnpm" ]]; then
            echo "pm_install_cmd=pnpm install --frozen-lockfile" >> "$GITHUB_OUTPUT"
          else
            echo "pm_install_cmd=npm ci" >> "$GITHUB_OUTPUT"
          fi

      - name: Configure Node Version
        id: cfg_node
        run: |
          set -euo pipefail

          if ! NODE_RAW=$(jq -er '.engines.node' package.json); then
            echo "::error::engines.node is required in package.json."
            exit 1
          fi

          if [[ "$NODE_RAW" =~ [^0-9]*([0-9]+) ]]; then
            NODE_VERSION="${BASH_REMATCH[1]}"
          else
            echo "::error::Unable to parse engines.node"
            exit 1
          fi

          echo "node_version=${NODE_VERSION}" >> "$GITHUB_OUTPUT"

  Lint:
    needs: ConfigureWorkflow
    if: ${{ needs.ConfigureWorkflow.outputs.perform_linting == 'yes' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        if: ${{ needs.ConfigureWorkflow.outputs.package_manager == 'pnpm' }}
        uses: pnpm/action-setup@v4
        with:
          version: ${{ needs.ConfigureWorkflow.outputs.pm_version }}

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ needs.ConfigureWorkflow.outputs.node_version }}
          cache: ${{ needs.ConfigureWorkflow.outputs.package_manager }}

      - run: ${{ needs.ConfigureWorkflow.outputs.pm_install_cmd }}

      - run: ${{ needs.ConfigureWorkflow.outputs.package_manager }} run lint

  Test:
    needs: ConfigureWorkflow
    if: ${{ needs.ConfigureWorkflow.outputs.perform_testing == 'yes' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        node-version: [22.x, 23.x, 24.x, 25.x]
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        if: ${{ needs.ConfigureWorkflow.outputs.package_manager == 'pnpm' }}
        uses: pnpm/action-setup@v4
        with:
          version: ${{ needs.ConfigureWorkflow.outputs.pm_version }}

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: ${{ needs.ConfigureWorkflow.outputs.package_manager }}

      - run: ${{ needs.ConfigureWorkflow.outputs.pm_install_cmd }}

      - run: ${{ needs.ConfigureWorkflow.outputs.package_manager }} test
